<div id="InitingPage">

<div cg-busy="myPromise" ng-init="init()">
	<div id="contenedor">
		<h1>Administración de Catálogos</h1>
		<tabset>
			<tab select="alertMe()" heading="Escalamiento">
				<div class="text-right">
					<button class="btn btn-default" type="button" id="btnNuevoEscalamiento" ng-click="MostrarNuevoEscalamiento()">Nuevo</button>
				 </div>
				<table class="table table-condensed"> 
					<thead> 
						<tr> 
						    <th style="display:none;">ID</th>
							<th>Proceso</th> 
							<th>Nodo</th> 
							<th>Empresa</th> 
							<th>Sucursal</th> 
							<th>Departamento</th> 
							<th>Tipo</th> 
							<th>Autorizadores</th> 
							<th>Editar</th> 
						</tr> 
					</thead> 
					<tbody> 
						<tr ng-repeat="escalamiento in listaEscalamiento"> 
						    <td style="display:none;">{{ escalamiento.escalamientoId }} </td> 
							<td >{{ escalamiento.procNombre }}</td> 
							<td >{{ escalamiento.nodoNombre }}</td> 
							<td >{{ escalamiento.empNombre }}</td> 
							<td >{{ escalamiento.sucNombre }}</td> 
							<td >{{ escalamiento.depNombre }}</td> 
							<td >{{ escalamiento.tipOrden }}</td> 
							<td >
								<button class="btn btn-primary" type="button" id="btnAprobadores">
									<span class="glyphicon glyphicon-user" aria-hidden="true" ng-click="MostrarAprobadores(escalamiento)"></span>
								</button>
							</td> 
							<td >
								<button class="btn btn-info" type="button" id="btnEditar">
									<span class="glyphicon glyphicon-pencil" aria-hidden="true" ng-click="MostrarUpdateEscalamiento(escalamiento)"></span>
								</button>
							</td> 
						</tr> 
					</tbody> 
				</table>
			</tab>
			<tab select="alertMe()" heading="Mancomunado">	
			<div class="text-right">			
				<button class="btn btn-default" type="button" id="btnNuevoMancomunado" aria-hidden="true" 
				ng-click="NuevoMancomunado()">Nuevo</button>
			</div>
				<table class="table table-condensed"> 
					<thead> 
						<tr> 
						<th style="display:none;">ID</th>
							<th>Proceso</th> 
							<th>Nodo</th> 
							<th>Empresa</th> 
							<th>Sucursal</th> 
							<th>Departamento</th> 
							<th>Tipo</th> 
							<th>Mancomunado</th>
							<th>Editar</th>
							<th>Eliminar</th>
						</tr> 
					</thead> 
					<tbody> 
						<tr ng-repeat="mancomunado in listaMancomunados"> 
							<td >{{ mancomunado.procNombre }}</td> 
							<td >{{ mancomunado.nodoNombre }}</td> 
							<td >{{ mancomunado.empNombre }}</td> 
							<td >{{ mancomunado.sucNombre }}</td> 
							<td >{{ mancomunado.depNombre }}</td> 
							<td >{{ mancomunado.tipOrden }}</td> 
							<td >{{ mancomunado.usuarioMancomunadoC }}</td> 
							<td >
								<button class="btn btn-primary" type="button" id="btnUpdate">
									<span class="glyphicon glyphicon-pencil" aria-hidden="true" ng-click="UpdateMancomunado(mancomunado)"></span>
								</button>								
							</td>		
							<td>
								<button class="btn btn-danger" type="button" id="btnDelete">
									<span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="DelMancomunado(mancomunado)"></span>
								</button>
							</td>					
						</tr> 
					</tbody> 
				</table>
			</tab>
		</tabset>
	</div>
</div>


<!-- Agregar nuevo Escalamiento-->
<div class="modal fade" tabindex="-1" id="viewNewEscalamiento">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
        <h4 class="modal-title">Nuevo Escalamiento</h4>
      </div>
      <div class="modal-body">
        <form name="escalamientoForm">        	
	    	<div class="form-group">
	    		<div class="col-sm-3 col-horizontal-align">
	    			<label for="TipoProceso">Tipo Proceso</label>
				</div>
				<div class="col-sm-9 col-horizontal-align">
					 <div class="dropdown">
					  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownProceso" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >
					    {{OpcionDefaultTipoProceso}}{{ currentTipoProceso.nombre }}<span class="caret"></span>
					  </button>					  
					  <ul class="dropdown-menu" aria-labelledby="dropdownProceso">
					    <li ng-repeat="tipo in listaTipoProceso	">
					    	<a ng-click="SetTipoProceso(tipo)">{{ tipo.nombre }}</a>					    	
					    </li>
					  </ul>					  					 
					</div>									
				</br>
				</div>	    				    			   
		  </div>
		  <div class="form-group">
		  	<div class="col-sm-3 col-horizontal-align">
		  		<label for="Empresa">Empresa</label>
	    	</div>
	    	<div class="col-sm-9 col-horizontal-align">
	    		<div class="dropdown">
				  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownEmpresa" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				   {{OpcionDefaultEmpresa}} {{ currentEmpresa.nombre }}<span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" aria-labelledby="dropdownEmpresa">
				    <li ng-repeat="tipo in listaEmpresas"><a ng-click="SetEmpresa(tipo)">{{ tipo.nombre }}</a></li>
				  </ul>
				</div></br>	
	    	</div>		    		    
		  </div>
		  <div class="form-group">
		  	<div class="col-sm-3 col-horizontal-align">
		  		<label for="Sucursal">Sucursal</label>
			</div>
			<div class="col-sm-9 col-horizontal-align">
				<div class="dropdown">
				  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownSucursal" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				    {{OpcionDefaultSucursal}}{{ currentSucursal.nombre }}<span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" aria-labelledby="dropdownSucursal">
				    <li ng-repeat="tipo in listaSucursales"><a ng-click="SetSucursal(tipo)">{{ tipo.nombre }}</a></li>
				  </ul>
				</div></br>
			</div>
		  </div>
		  <div class="form-group">
		  	<div class="col-sm-3 col-horizontal-align">
		  		<label for="Departamento">Departamento</label>
			</div>
			<div class="col-sm-9 col-horizontal-align">
				<div class="dropdown">
				  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownDepartamento" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				    {{OpcionDefaultDepartamento}}{{ currentDepto.nombre }}<span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" aria-labelledby="dropdownDepartamento">
				    <li ng-repeat="tipo in listaDeptos"><a ng-click="SetDepto(tipo)">{{ tipo.nombre }}</a></li>
				  </ul>
				</div></br>
			</div>
		  </div>
		  <div class="form-group">
		  	<div class="col-sm-3 col-horizontal-align">
		  		<label for="TipoOrden">Tipo Orden</label>
			</div>
			<div class="col-sm-9 col-horizontal-align">
				<div class="dropdown">
				  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownTipoOrden" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				    {{OpcionDefaultTipoOrden}}{{ currentTipoOrden.nombre }}<span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" aria-labelledby="dropdownTipoOrden">
				    <li ng-repeat="tipo in listaTipoOrden"><a ng-click="SetTipoOrden(tipo)">{{ tipo.nombre }}</a></li>
				  </ul>
				</div></br>
			</div>
		  </div>
	      <div>	  
	      <div style="text-align:right">
	      	<button class="btn btn-default" type="button" id="btnAgregalevel" ng-click="addLevel()">Agregar Nivel</button>
	      </div> 
	      </br>   		       		  	      	
	      	<tabset>	      	
	      		<tab ng-repeat="level in levels" heading="{{level.nivelTexto}}" active=level.active >
		            <div  ng-init="level=level">
		            	<div class="form-group">		            	
		               		<div class="col-sm-3 col-horizontal-align">
						        <label for="Aprobador1">Aprobador 1</label>
						    </div>
						    <div class="col-sd-9 col-horizontal-align">
							    <div class="input-group">
							      <input type="text" class="form-control" readonly ng-model="level.usuarioAutoriza1"/>
							      <span class="input-group-btn">
							        <button class="btn btn-default" type="button" ng-click="MostrarListaUsuarios()-setLevelApprover(level,op=1)">Buscar</button>
							      </span>
							    </div><!-- /input-group -->
							</div>
						</div>
						<div class="form-group">		            	
		               		<div class="col-sm-3 col-horizontal-align">
						        <label for="Aprobador1">Aprobador 2</label>
						    </div>
						    <div class="col-sd-9 col-horizontal-align">
							    <div class="input-group">
							      <input type="text" class="form-control" readonly ng-model="level.usuarioAutoriza2"/>
							      <span class="input-group-btn">
							        <button class="btn btn-default" type="button" ng-click="MostrarListaUsuarios()-setLevelApprover(level,op=2)">Buscar</button>
							      </span>
							    </div><!-- /input-group -->
							</div>
						</div>					    						   
						<div class="form-group">		            	
		               		<div class="col-sm-3 col-horizontal-align">
						        <label for="Aprobador1">Aprobador 3</label>
						    </div>
						    <div class="col-sd-9 col-horizontal-align">
							    <div class="input-group">
							      <input type="text" class="form-control" readonly ng-model="level.usuarioAutoriza3"/>
							      <span class="input-group-btn">
							        <button class="btn btn-default" type="button" ng-click="MostrarListaUsuarios()-setLevelApprover(level, op=3)">Buscar</button>
							      </span>
							    </div><!-- /input-group -->
							</div>
						</div>
						<div class="form-group">		            	
		               		<div class="col-sm-3 col-horizontal-align">
						        <label for="Minutos">Minutos</label>
						    </div>
						    <div class="col-sd-9 col-horizontal-align">
						        <input type="number" id="numMinutos" ng-model="level.minutos" min="1"  style="width:60px" ng-click="">
						    </div>	
						</div>						 						   											    						  		
		            </div>     
		        </tab>		       	      		
	      	</tabset>
	      </div> 
        </form>    	
      </div>                                                                                 
      <div class="modal-footer">
      	<button class="btn btn-default" type="button" id="btnCancelarNivel" ng-click="initLevels()">Cancelar</button>
		<button class="btn btn-default" type="button" id="btnAgregarNivel" ng-click="insertEscalamiento()">Agregar</button>
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>-->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->	

<!-- Editar Escalamiento-->
<div class="modal fade" tabindex="-1" id="viewUpdateEscalamiento">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
        <h4 class="modal-title">Actualizar Escalamiento</h4>
      </div>
      <div class="modal-body">
        <form name="escalamientoForm">        	
	    	<div class="form-group">
	    		<div class="col-sm-3 col-horizontal-align">
	    			<label for="TipoProceso">Tipo Proceso</label>
				</div>
				<div class="col-sm-9 col-horizontal-align">
					 <div class="dropdown">
					  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownProceso" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >
					    {{OpcionDefaultTipoProceso}}{{ currentTipoProceso.nombre }}<span class="caret"></span>
					  </button>					  
					  <ul class="dropdown-menu" aria-labelledby="dropdownProceso">
					    <li ng-repeat="tipo in listaTipoProceso	">
					    	<a ng-click="SetTipoProceso(tipo)">{{ tipo.nombre }}</a>					    	
					    </li>
					  </ul>					  					 
					</div>									
				</br>
				</div>	    				    			   
		  </div>
		  <div class="form-group">
		  	<div class="col-sm-3 col-horizontal-align">
		  		<label for="Empresa">Empresa</label>
	    	</div>
	    	<div class="col-sm-9 col-horizontal-align">
	    		<div class="dropdown">
				  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownEmpresa" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				    {{OpcionDefaultEmpresa}} {{ currentEmpresa.nombre }}<span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" aria-labelledby="dropdownEmpresa">
				    <li ng-repeat="tipo in listaEmpresas"><a ng-click="SetEmpresa(tipo)">{{ tipo.nombre }}</a></li>
				  </ul>
				</div></br>	
	    	</div>		    		    
		  </div>
		  <div class="form-group">
		  	<div class="col-sm-3 col-horizontal-align">
		  		<label for="Sucursal">Sucursal</label>
			</div>
			<div class="col-sm-9 col-horizontal-align">
				<div class="dropdown">
				  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownSucursal" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				    {{OpcionDefaultSucursal}} {{ currentSucursal.nombre }}<span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" aria-labelledby="dropdownSucursal">
				    <li ng-repeat="tipo in listaSucursales"><a ng-click="SetSucursal(tipo)">{{ tipo.nombre }}</a></li>
				  </ul>
				</div></br>
			</div>
		  </div>
		  <div class="form-group">
		  	<div class="col-sm-3 col-horizontal-align">
		  		<label for="Departamento">Departamento</label>
			</div>
			<div class="col-sm-9 col-horizontal-align">
				<div class="dropdown">
				  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownDepartamento" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				   {{OpcionDefaultDepartamento}} {{ currentDepto.nombre }}<span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" aria-labelledby="dropdownDepartamento">
				    <li ng-repeat="tipo in listaDeptos"><a ng-click="SetDepto(tipo)">{{ tipo.nombre }}</a></li>
				  </ul>
				</div></br>
			</div>
		  </div>
		  <div class="form-group">
		  	<div class="col-sm-3 col-horizontal-align">
		  		<label for="TipoOrden">Tipo Orden</label>
			</div>
			<div class="col-sm-9 col-horizontal-align">
				<div class="dropdown">
				  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownTipoOrden" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				    {{OpcionDefaultTipoOrden}} {{ currentTipoOrden.nombre }}<span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" aria-labelledby="dropdownTipoOrden">
				    <li ng-repeat="tipo in listaTipoOrden"><a ng-click="SetTipoOrden(tipo)">{{ tipo.nombre }}</a></li>
				  </ul>
				</div></br>
			</div>
		  </div>
	      <div>	  
	      <div style="text-align:right">
	      	<button class="btn btn-default" type="button" id="btnAgregalevel" ng-click="addLevel()">Agregar Nivel</button>
	      </div> 
	      </br>   		       		  	      	
	      	<tabset>	      	
	      		<tab ng-repeat="level in levels" heading="{{level.nivelTexto}}" active=level.active >
		            <div  ng-init="level=level">
		            	<div class="form-group">		            	
		               		<div class="col-sm-3 col-horizontal-align">
						        <label for="Aprobador1">Aprobador 1</label>
						    </div>
						    <div class="col-sd-9 col-horizontal-align">
							    <div class="input-group">
							      <input type="text" class="form-control" readonly ng-model="level.usuarioAutoriza1"/>
							      <span class="input-group-btn">
							        <button class="btn btn-default" type="button" ng-click="MostrarListaUsuarios()-setLevelApprover(level,op=1)">Buscar</button>
							      </span>
							    </div><!-- /input-group -->
							</div>
						</div>
						<div class="form-group">		            	
		               		<div class="col-sm-3 col-horizontal-align">
						        <label for="Aprobador1">Aprobador 2</label>
						    </div>
						    <div class="col-sd-9 col-horizontal-align">
							    <div class="input-group">
							      <input type="text" class="form-control" readonly ng-model="level.usuarioAutoriza2"/>
							      <span class="input-group-btn">
							        <button class="btn btn-default" type="button" ng-click="MostrarListaUsuarios()-setLevelApprover(level,op=2)">Buscar</button>
							      </span>
							    </div><!-- /input-group -->
							</div>
						</div>					    						   
						<div class="form-group">		            	
		               		<div class="col-sm-3 col-horizontal-align">
						        <label for="Aprobador1">Aprobador 3</label>
						    </div>
						    <div class="col-sd-9 col-horizontal-align">
							    <div class="input-group">
							      <input type="text" class="form-control" readonly ng-model="level.usuarioAutoriza3"/>
							      <span class="input-group-btn">
							        <button class="btn btn-default" type="button" ng-click="MostrarListaUsuarios()-setLevelApprover(level, op=3)">Buscar</button>
							      </span>
							    </div><!-- /input-group -->
							</div>
						</div>
						<div class="form-group">		            	
		               		<div class="col-sm-3 col-horizontal-align">
						        <label for="Minutos">Minutos</label>
						    </div>
						    <div class="col-sd-9 col-horizontal-align">
						        <input type="number" id="numMinutos" ng-model="level.minutos" min="1"  style="width:60px" ng-click="">
						    </div>	
						</div>						 						   											    						  		
		            </div>     
		        </tab>		       	      		
	      	</tabset>
	      </div> 
        </form>    	
      </div>                                                                                 
      <div class="modal-footer">
      	<button class="btn btn-default" type="button" id="btnCancelarNivel" ng-click="closeUpdateEscalamiento()">Cancelar</button>
		<button class="btn btn-default" type="button" id="btnAgregarNivel" ng-click="updateEscalamiento(escalamiento)">Guardar</button>
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>-->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->	


<!--Agregar nuevo Mancomunado-->
<div class="modal fade" tabindex="-1" id="viewNewMancomunado">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Nuevo Usuario Mancomunado</h4>
      </div>
      <div class="modal-body">
      	<form name="myForm" required>
		  <div class="form-group">
		    <label for="TipoProceso">Tipo Proceso</label>
		    <div class="dropdown">
			  <button class="btn btn-default dropdown-toggle" type="button" id="NewDropdownProcesos"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			   {{OpcionDefaultTipoProceso}} {{ NewCurrentTipoProceso.nombre }}<span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="NewDropdownProceso">			  	
			    <li ng-repeat="tipo in listaTipoProceso"><a ng-click="NewSetTipoProceso(tipo)"  >{{ tipo.nombre }}</a></li>
			  </ul>
			</div>
		  </div>
		  <div class="form-group">
		    <label for="Empresa">Empresa</label>
		    <div class="dropdown">
			  <button class="btn btn-default dropdown-toggle" type="button" id="NewDropdownEmpresas" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    {{OpcionDefaultEmpresa}}{{ NewCurrentEmpresa.nombre }}<span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="NewDropdownEmpresa">
			    <li ng-repeat="tipo in listaEmpresas"><a ng-click="NewSetEmpresa(tipo)">{{ tipo.nombre }}</a></li>
			  </ul>
			</div>
		  </div>
		  <div class="form-group">
		    <label for="Sucursal">Sucursal</label>
		    <div class="dropdown">
			  <button class="btn btn-default dropdown-toggle" type="button" id="NewDropdownSucursals" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    {{OpcionDefaultSucursal}}{{ NewCurrentSucursal.nombre }}<span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="NewDropdownSucursal">
			    <li ng-repeat="tipo in listaSucursales"><a ng-click="NewSetSucursal(tipo)">{{ tipo.nombre }}</a></li>
			  </ul>
			</div>
		  </div>
		  <div class="form-group">
		    <label for="Departamento">Departamento</label>
		    <div class="dropdown">
			  <button class="btn btn-default dropdown-toggle" type="button" id="NewDropdownDepartamentos" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			   {{OpcionDefaultDepartamento}} {{ NewCurrentDepto.nombre }}<span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="NewDropdownDepartamento">
			    <li ng-repeat="tipo in listaDeptos"><a ng-click="NewSetDepto(tipo)">{{ tipo.nombre }}</a></li>
			  </ul>
			</div>
		  </div>
		  <div class="form-group">
		    <label for="TipoOrden">Tipo Orden</label>
		    <div class="dropdown">
			  <button class="btn btn-default dropdown-toggle" type="button" id="NewDropdownTipoOrdens" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    {{OpcionDefaultTipoOrden}}{{ NewCurrentTipoOrden.nombre }}<span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="NewDropdownTipoOrden">
			    <li ng-repeat="tipo in listaTipoOrden"><a ng-click="NewSetTipoOrden(tipo)">{{ tipo.nombre }}</a></li>
			  </ul>
			</div>
		  </div>		  
		<div class="row">
		  <div class="col-lg-4">
		    <div class="input-group">
		      <span class="input-group-btn">
		      </span>
		      <label for="TipoOrden">Usuario Mancomunado</label>
		    </div><!-- /input-group -->
		  </div><!-- /.col-lg-6 -->
		  <div class="col-lg-6">
		    <div class="input-group">
		      <input type="text" class="form-control" readonly value="{{ currentUsuarioActual }}">
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="button" ng-click="MostrarListaUsuarios()">Buscar</button>
		      </span>
		    </div><!-- /input-group -->
		  </div><!-- /.col-lg-6 -->
		</div><!-- /.row -->
		</form>
      <div class="modal-footer">
      	<button type="button" class="btn btn-default" ng-click="InsertarMancomunado()">Aceptar</button>  
      	 <!--  <button type="button" class="btn btn-warning" ng-click="dimiss()">Cerrar</button>
       <button type="button" class="btn btn-warning" ng-click="cancel()">Cerrar</button>
       <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>-->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- Usuarios-->
<div class="modal fade" tabindex="-1" id="viewUsuarios">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
		<!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
        <h4 class="modal-title">Usuarios</h4>
      </div>
      <div class="modal-body">
      	<form>
      		<label>Usuario: <input ng-model="buscarText"></label>
      		<table class="table table-condensed"> 
					<thead> 
						<tr> 
							<th>Id Usuario</th> 
							<th>Nombre</th> 
							<th>Apellido Paterno</th> 
							<th>Apellido Materno</th>
							<th>Selecciona</th>  
						</tr> 
					</thead> 
					<tbody ng-repeat="usuarios in usuarios | filter:buscarText"> 
						<tr> 
							<td >{{ usuarios.idUsuario }}</td> 
							<td >{{ usuarios.nombre }}</td> 
							<td >{{ usuarios.aPaterno }}</td> 
							<td >{{ usuarios.aMaterno }}</td>
							<td >
								<button class="btn btn-success" type="button" id="btnSeleccionar">
									<span class="glyphicon glyphicon-ok" aria-hidden="true" ng-click="SetUsuario(usuarios)"></span>
								</button> 
							</td>
						</tr>
					</tbody> 
				</table>
		</form> 
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Agregar nuevo Mancomunado-->
<!-- Update Mancomunado-->
<div class="modal fade" tabindex="-1" id="viewUpdMancomunado">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Usuario Mancomunado</h4>
      </div>
      <div class="modal-body">
      	<form>
		  <div class="form-group">
		    <label for="TipoProceso">Tipo Proceso</label>
		    <div class="dropdown">
			  <button class="btn btn-default dropdown-toggle" type="button" id="UpdDropdownProceso" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			  {{OpcionDefaultTipoProceso}}  {{ currentTipoProceso.nombre }}<span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownProceso">
			    <li ng-repeat="tipo in listaTipoProceso"><a ng-click="UpdSetTipoProceso(tipo)">{{ tipo.nombre }}</a></li>
			  </ul>
			</div>
		  </div>
		  <div class="form-group">
		    <label for="Empresa">Empresa</label>
		    <div class="dropdown">
			  <button class="btn btn-default dropdown-toggle" type="button" id="UpdDropdownEmpresa" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			  {{ OpcionDefaultEmpresa }}  {{ currentEmpresa.nombre }}<span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownEmpresa">
			    <li ng-repeat="tipo in listaEmpresas"><a ng-click="UpdSetEmpresa(tipo)">{{ tipo.nombre }}</a></li>
			  </ul>
			</div>
		  </div>
		  <div class="form-group">
		    <label for="Sucursal">Sucursal</label>
		    <div class="dropdown">
			  <button class="btn btn-default dropdown-toggle" type="button" id="UpdDropdownSucursal" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			  {{ OpcionDefaultSucursal }}  {{ currentSucursal.nombre }}<span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownSucursal">
			    <li ng-repeat="tipo in listaSucursales"><a ng-click="UpdSetSucursal(tipo)">{{ tipo.nombre }}</a></li>
			  </ul>
			</div>
		  </div>
		  <div class="form-group">
		    <label for="Departamento">Departamento</label>
		    <div class="dropdown">
			  <button class="btn btn-default dropdown-toggle" type="button" id="UpdDropdownDepartamento" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    {{ OpcionDefaultDepartamento }} {{ currentDepto.nombre }}<span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownDepartamento">
			    <li ng-repeat="tipo in listaDeptos"><a ng-click="UpdSetDepto(tipo)">{{ tipo.nombre }}</a></li>
			  </ul>
			</div>
		  </div>
		  

		  
		 <div class="form-group">
		    <label for="TipoOrden">Tipo Orden</label>
		        <div class="dropdown">
			            <button class="btn btn-default dropdown-toggle" type="button" id="UpdDropdownTipoOrden" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"  value="{{tipoOrdenSeleccion}}">
			               {{ OpcionDefaultTipoOrden }}  {{ currentTipoOrden.nombre }}<span class="caret"></span>
			             </button>
			              <ul class="dropdown-menu" aria-labelledby="dropdownTipoOrden">
			                   <li ng-repeat="tipo in listaTipoOrden"><a ng-click="UpdSetTipoOrden(tipo)">{{ tipo.nombre }}</a></li>
			              </ul>
			       </div>
		    </div>
		         <div class="row">
		        <div class="col-lg-4">
		    <div class="input-group">
		      <span class="input-group-btn">
		      </span>
		      <label for="TipoOrden">Usuario Mancomunado</label>
		    </div><!-- /input-group -->
		  </div><!-- /.col-lg-6 -->
		  <div class="col-lg-6">
		    <div class="input-group">
		      <input type="text" class="form-control" readonly value="{{ currentUsuarioActual }}">
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="button" ng-click="MostrarListaUsuarios()">Buscar</button>
		      </span>
		    </div><!-- /input-group -->
		  </div><!-- /.col-lg-6 -->
		</div><!-- /.row -->
		</form> 		
      	<div class="modal-footer">
      	<button type="button" class="btn btn-default" ng-click="UpdMancomunado()">Actualizar</button>
        <button type="button" class="btn btn-default" ng-click="updCerrarSelectionUser()">Cerrar</button>
       <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>-->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- Aprobadores-->
<div class="modal fade" tabindex="-1" id="viewAprobadores">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Aprobadores</h4>
      </div>
      <div class="modal-body">
        <table class="table table-condensed" id="tblAprobadores"> 
					<thead> 
						<tr> 
							<th>Nivel</th> 
							<th>Aprobador 1</th> 
							<th>Aprobador 2</th> 
							<th>Aprobador 3</th> 
							<th tooltip="Minutos para escalar">Minutos</th>
						</tr> 
					</thead> 
					<tbody>                                                                                      
						<tr ng-repeat="aprobador in listaAprobadores"> 
							<td >{{ aprobador.nivel }}</td> 
							<td >{{ aprobador.usuarioAutoriza1 }}</td> 
							<td >{{ aprobador.usuarioAutoriza2 }}</td> 
							<td >{{ aprobador.usuarioAutoriza3 }}</td> 
							<td >{{ aprobador.minutos }}</td> 
						</tr> 
					</tbody> 
				</table>
      </div>                                                                                 
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</div>



 