<div cg-busy="myPromise" ng-init="init()">
	<div id="contenedor">
		<h1>Administración de Catálogos</h1>
		<tabset>
			<tab select="alertMe()" heading="Escalamiento">
				<button class="btn btn-default" type="button" id="btnNuevo">Nuevo</button>
				<table class="table table-condensed"> 
					<thead> 
						<tr> 
							<th>Proceso</th> 
							<th>Nodo</th> 
							<th>Empresa</th> 
							<th>Sucursal</th> 
							<th>Departamento</th> 
							<th>Tipo</th> 
							<th>Autorizadores</th> 
							<th>Acción</th> 
						</tr> 
					</thead> 
					<tbody> 
						<tr ng-repeat="escalamiento in listaEscalamiento"> 
							<td >{{ escalamiento.procNombre }}</td> 
							<td >{{ escalamiento.nodoNombre }}</td> 
							<td >{{ escalamiento.empNombre }}</td> 
							<td >{{ escalamiento.sucNombre }}</td> 
							<td >{{ escalamiento.depNombre }}</td> 
							<td >{{ escalamiento.tipOrden }}</td> 
							<td >
								<button class="btn btn-primary" type="button" id="btnNuevo">
									<span class="glyphicon glyphicon-user" aria-hidden="true" ng-click="MostrarAprobadores(escalamiento)"></span>
								</button>
							</td> 
							<td >
								<button class="btn btn-info" type="button" id="btnNuevo">
									<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
								</button>
							</td> 
						</tr> 
					</tbody> 
				</table>
			</tab>
			<tab select="alertMe()" heading="Mancomunado">
				<table class="table table-condensed"> 
					<thead> 
						<tr> 
							<th>Proceso</th> 
							<th>Nodo</th> 
							<th>Empresa</th> 
							<th>Sucursal</th> 
							<th>Departamento</th> 
							<th>Tipo</th> 
							<th>Mancomunado</th>
							<th>Editar</th>
						</tr> 
					</thead> 
					<tbody> 
						<tr ng-repeat="mancomunado in listaMancomunados"> 
							<td >{{ mancomunado.procNombre }}</td> 
							<td >{{ mancomunado.nodoNombre }}</td> 
							<td >{{ mancomunado.empNombre }}</td> 
							<td >{{ mancomunado.sucNombre }}</td> 
							<td >{{ mancomunado.depNombre }}</td> 
							<td >{{ mancomunado.tipOrden }}</td> 
							<td >{{ mancomunado.usuarioMancomunadoC }}</td> 
							<td >
								<button class="btn btn-primary" type="button" id="btnNuevo">
									<span class="glyphicon glyphicon-pencil" aria-hidden="true" ng-click="MostrarUsuarios(mancomunado)"></span>
								</button>
							</td> 
							
						</tr> 
					</tbody> 
				</table>
			</tab>
		</tabset>
	</div>
</div>

<div class="modal fade" tabindex="-1" id="viewAprobadores">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Aprobadores</h4>
      </div>
      <div class="modal-body">
        <table class="table table-condensed" id="tblAprobadores"> 
					<thead> 
						<tr> 
							<th>Nivel</th> 
							<th>Aprobador 1</th> 
							<th>Aprobador 2</th> 
							<th>Aprobador 3</th> 
							<th tooltip="Minutos para escalar">Minutos</th>
						</tr> 
					</thead> 
					<tbody>                                                                                      
						<tr ng-repeat="aprobador in listaAprobadores"> 
							<td >{{ aprobador.nivel }}</td> 
							<td >{{ aprobador.usuarioAutoriza1 }}</td> 
							<td >{{ aprobador.usuarioAutoriza2 }}</td> 
							<td >{{ aprobador.usuarioAutoriza3 }}</td> 
							<td >{{ aprobador.minutos }}</td> 
						</tr> 
					</tbody> 
				</table>
      </div>                                                                                 
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" tabindex="-1" id="viewMancomunados">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Usuarios Mancomunados</h4>
      </div>
      <div class="modal-body">
      	<form>
		  <div class="form-group">
		    <label for="exampleInputEmail1">Email address</label>
		    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Password</label>
		    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputFile">File input</label>
		    <input type="file" id="exampleInputFile">
		    <p class="help-block">Example block-level help text here.</p>
		  </div>
		
		</form>


      	<span class="label label-default">Tipo Proceso</span>
       	<div class="dropdown">
		  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownProceso" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    {{ currentTipoProceso.nombre }}<span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" aria-labelledby="dropdownProceso">
		    <li ng-repeat="tipo in listaTipoProceso"><a ng-click="SetTipoProceso(tipo)">{{ tipo.nombre }}</a></li>
		  </ul>
		</div>
		<span class="label label-default">Nodo</span>
		<div class="dropdown">
		  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownNodo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    <span class="caret"></span>Seleccione...
		  </button>
		  <ul class="dropdown-menu" aria-labelledby="dropdownNodo">
		    <li><a href="#">Action</a></li>
		    <li><a href="#">Another action</a></li>
		    <li><a href="#">Something else here</a></li>
		  </ul>
		</div>
		<span class="label label-default">Empresa</span>
		<div class="dropdown">
		  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownEmpresa" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    <span class="caret"></span>Seleccione...
		  </button>
		  <ul class="dropdown-menu" aria-labelledby="dropdownEmpresa">
		    <li><a href="#">Action</a></li>
		    <li><a href="#">Another action</a></li>
		    <li><a href="#">Something else here</a></li>
		  </ul>
		</div>
		<span class="label label-default">Sucursal</span>
		<div class="dropdown">
		  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownSucursal" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    <span class="caret"></span>Seleccione...
		  </button>
		  <ul class="dropdown-menu" aria-labelledby="dropdownSucursal">
		    <li><a href="#">Action</a></li>
		    <li><a href="#">Another action</a></li>
		    <li><a href="#">Something else here</a></li>
		  </ul>
		</div>		
		<span class="label label-default">Departamento</span>
		<div class="dropdown">
		  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownDepto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    <span class="caret"></span>Seleccione...
		  </button>
		  <ul class="dropdown-menu" aria-labelledby="dropdownDepto">
		    <li><a href="#">Action</a></li>
		    <li><a href="#">Another action</a></li>
		    <li><a href="#">Something else here</a></li>
		  </ul>
		</div>
		<span class="label label-default">Tipo Orden</span>
		<div class="dropdown">
		  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownOrden" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    <span class="caret"></span>Seleccione...
		  </button>
		  <ul class="dropdown-menu" aria-labelledby="dropdownOrden">
		    <li><a href="#">Action</a></li>
		    <li><a href="#">Another action</a></li>
		    <li><a href="#">Something else here</a></li>
		  </ul>
		</div>
      </div>
      <button class="btn btn-primary" type="button" id="btnNuevo">
		<span class="glyphicon glyphicon-plus-sign" aria-hidden="true" ng-click="AgregarUsuarios(mancomunado)"></span>
	  </button>
	  <tabset>
			<tab select="alertMe()" heading="Usuarios Mancomunados">
				<span class="label label-default">Usuario Mancomunado</span>
				<input type="text" class="form-control">
			</tab>
	  </tabset>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->